In [2]:
# import the libraries we use
import pandas as pd
import zipfile
pd.options.display.float_format = '{:,.2f}'.format

In [3]:
#open the zipfile containing the csvs and put it in the 'data' variable.
#(The ins and outs of this script are out of the scope of this session, sorry!)

zf = zipfile.ZipFile("DS-1180622.zip")
# zf.infolist()
data = pd.concat((pd.read_csv(zf.open(text_file.filename), encoding = "ISO-8859-1", na_values=":") for text_file in zf.infolist() if text_file.filename.endswith('Data.csv')))
len(data)

159040

In [4]:
# show me the top 10 rows of the data table
data.head(10)

,PERIOD,REPORTER,PARTNER,PRODUCT,FLOW,INDICATORS,Value,Flag and Footnotes
0,Feb. 2019,"EU27_2020 (AT, BE, BG, CY, CZ, DE, DK, EE, ES,...",AD,Face masks (excl. paper surgical masks - under...,IMPORT,QUANTITY_IN_100KG,NaN,nan
1,Mar. 2019,"EU27_2020 (AT, BE, BG, CY, CZ, DE, DK, EE, ES,...",AD,Face masks (excl. paper surgical masks - under...,IMPORT,QUANTITY_IN_100KG,0.00,nan
2,Apr. 2019,"EU27_2020 (AT, BE, BG, CY, CZ, DE, DK, EE, ES,...",AD,Face masks (excl. paper surgical masks - under...,IMPORT,QUANTITY_IN_100KG,NaN,nan
3,May. 2019,"EU27_2020 (AT, BE, BG, CY, CZ, DE, DK, EE, ES,...",AD,Face masks (excl. paper surgical masks - under...,IMPORT,QUANTITY_IN_100KG,NaN,nan
4,Jun. 2019,"EU27_2020 (AT, BE, BG, CY, CZ, DE, DK, EE, ES,...",AD,Face masks (excl. paper surgical masks - under...,IMPORT,QUANTITY_IN_100KG,0.00,nan
5,Feb. 2020,"EU27_2020 (AT, BE, BG, CY, CZ, DE, DK, EE, ES,...",AD,Face masks (excl. paper surgical masks - under...,IMPORT,QUANTITY_IN_100KG,NaN,nan
6,Mar. 2020,"EU27_2020 (AT, BE, BG, CY, CZ, DE, DK, EE, ES,...",AD,Face masks (excl. paper surgical masks - under...,IMPORT,QUANTITY_IN_100KG,NaN,nan
7,Apr. 2020,"EU27_2020 (AT, BE, BG, CY, CZ, DE, DK, EE, ES,...",AD,Face masks (excl. paper surgical masks - under...,IMPORT,QUANTITY_IN_100KG,NaN,nan
8,May. 2020,"EU27_2020 (AT, BE, BG, CY, CZ, DE, DK, EE, ES,...",AD,Face masks (excl. paper surgical masks - under...,IMPORT,QUANTITY_IN_100KG,0.00,nan
9,Jun. 2020,"EU27_2020 (AT, BE, BG, CY, CZ, DE, DK, EE, ES,...",AD,Face masks (excl. paper surgical masks - under...,IMPORT,QUANTITY_IN_100KG,1.00,nan

In [5]:
# show me the top 10 rows of the data table but transpose the rows and columns
data.head(10).T

,0,1,2,3,4,5,6,7,8,9
PERIOD,Feb. 2019,Mar. 2019,Apr. 2019,May. 2019,Jun. 2019,Feb. 2020,Mar. 2020,Apr. 2020,May. 2020,Jun. 2020
REPORTER,"EU27_2020 (AT, BE, BG, CY, CZ, DE, DK, EE, ES,...","EU27_2020 (AT, BE, BG, CY, CZ, DE, DK, EE, ES,...","EU27_2020 (AT, BE, BG, CY, CZ, DE, DK, EE, ES,...","EU27_2020 (AT, BE, BG, CY, CZ, DE, DK, EE, ES,...","EU27_2020 (AT, BE, BG, CY, CZ, DE, DK, EE, ES,...","EU27_2020 (AT, BE, BG, CY, CZ, DE, DK, EE, ES,...","EU27_2020 (AT, BE, BG, CY, CZ, DE, DK, EE, ES,...","EU27_2020 (AT, BE, BG, CY, CZ, DE, DK, EE, ES,...","EU27_2020 (AT, BE, BG, CY, CZ, DE, DK, EE, ES,...","EU27_2020 (AT, BE, BG, CY, CZ, DE, DK, EE, ES,..."
PARTNER,AD,AD,AD,AD,AD,AD,AD,AD,AD,AD
PRODUCT,Face masks (excl. paper surgical masks - under...,Face masks (excl. paper surgical masks - under...,Face masks (excl. paper surgical masks - under...,Face masks (excl. paper surgical masks - under...,Face masks (excl. paper surgical masks - under...,Face masks (excl. paper surgical masks - under...,Face masks (excl. paper surgical masks - under...,Face masks (excl. paper surgical masks - under...,Face masks (excl. paper surgical masks - under...,Face masks (excl. paper surgical masks - under...
FLOW,IMPORT,IMPORT,IMPORT,IMPORT,IMPORT,IMPORT,IMPORT,IMPORT,IMPORT,IMPORT
INDICATORS,QUANTITY_IN_100KG,QUANTITY_IN_100KG,QUANTITY_IN_100KG,QUANTITY_IN_100KG,QUANTITY_IN_100KG,QUANTITY_IN_100KG,QUANTITY_IN_100KG,QUANTITY_IN_100KG,QUANTITY_IN_100KG,QUANTITY_IN_100KG
Value,NaN,0.00,NaN,NaN,0.00,NaN,NaN,NaN,0.00,1.00
Flag and Footnotes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# how many unique values are there in the columns? 
data.nunique()

PERIOD                   10
REPORTER                 28
PARTNER                 283
PRODUCT                   1
FLOW                      1
INDICATORS                2
Value                 13905
Flag and Footnotes        0
dtype: int64

In [8]:
# which unique values are there in the 'PERIOD'? 
data["PERIOD"].unique()

array(['Feb. 2019', 'Mar. 2019', 'Apr. 2019', 'May. 2019', 'Jun. 2019',
       'Feb. 2020', 'Mar. 2020', 'Apr. 2020', 'May. 2020', 'Jun. 2020'],
      dtype=object)

In [9]:
# which unique values are there in the 'REPORTER'? 
data["REPORTER"].unique()

array(['EU27_2020 (AT, BE, BG, CY, CZ, DE, DK, EE, ES, FI, FR, GR, HR,HU, IE, IT, LT, LU, LV, MT, NL, PL, PT, RO, SE, SI, SK)',
       'BELGIUM (and LUXBG -> 1998)', 'BULGARIA', 'CZECHIA (CS->1992)',
       'DENMARK', 'GERMANY (incl DD from 1991)', 'ESTONIA', 'IRELAND',
       'SPAIN', 'FRANCE', 'CROATIA', 'ITALY', 'CYPRUS', 'LATVIA',
       'LITHUANIA', 'LUXEMBOURG', 'HUNGARY', 'MALTA', 'NETHERLANDS',
       'AUSTRIA', 'POLAND', 'PORTUGAL', 'ROMANIA', 'SLOVENIA', 'SLOVAKIA',
       'FINLAND', 'SWEDEN', 'GREECE'], dtype=object)

In [10]:
data["INDICATORS"].unique()

array(['QUANTITY_IN_100KG', 'VALUE_IN_EUROS'], dtype=object)

In [11]:
data["PARTNER"].unique()

array(['AD', 'AE', 'AF', 'AG', 'AI', 'AL', 'AM', 'AN', 'AO', 'AQ', 'AR',
       'AS', 'AT', 'AU', 'AW', 'AZ', 'BA', 'BB', 'BD', 'BE', 'BF', 'BG',
       'BH', 'BI', 'BJ', 'BL', 'BM', 'BN', 'BO', 'BQ', 'BR', 'BS', 'BT',
       'BV', 'BW', 'BY', 'BZ', 'CA', 'CC', 'CD', 'CF', 'CG', 'CH', 'CI',
       'CK', 'CL', 'CM', 'CN', 'CO', 'CR', 'CS', 'CU', 'CV', 'CW', 'CX',
       'CY', 'CZ', 'DD', 'DE', 'DJ', 'DK', 'DM', 'DO', 'DZ', 'EA19_EXTRA',
       'EA19_INTRA', 'EC', 'EE', 'EG', 'EH', 'ER', 'ES', 'ET',
       'EU27_2020_EXTRA', 'EU27_2020_INTRA', 'EU28_EXTRA', 'EU28_INTRA',
       'EUROZONE_EXTRA', 'EUROZONE_INTRA', 'EU_EXTRA', 'EU_INTRA', 'FI',
       'FJ', 'FK', 'FM', 'FO', 'FR', 'GA', 'GB', 'GD', 'GE', 'GF', 'GH',
       'GI', 'GL', 'GM', 'GN', 'GP', 'GQ', 'GR', 'GS', 'GT', 'GU', 'GW',
       'GY', 'HK', 'HM', 'HN', 'HR', 'HT', 'HU', 'ID', 'IE', 'IL', 'IN',
       'IO', 'IQ', 'IR', 'IS', 'IT', 'JM', 'JO', 'JP', 'KE', 'KG', 'KH',
       'KI', 'KM', 'KN', 'KP', 'KR', 'KW', 'KY', 'KZ', 'LA', 'LB', 'LC',
       'LI', 'LK', 'LR', 'LS', 'LT', 'LU', 'LV', 'LY', 'MA', 'MD', 'ME',
       'MG', 'MH', 'MK', 'ML', 'MM', 'MN', 'MO', 'MP', 'MQ', 'MR', 'MS',
       'MT', 'MU', 'MV', 'MW', 'MX', 'MY', 'MZ', nan, 'NC', 'NE', 'NF',
       'NG', 'NI', 'NL', 'NO', 'NP', 'NR', 'NU', 'NZ', 'OM', 'PA', 'PE',
       'PF', 'PG', 'PH', 'PK', 'PL', 'PM', 'PN', 'PS', 'PT', 'PW', 'PY',
       'PZ', 'QA', 'QP', 'QQ', 'QR', 'QS', 'QT', 'QU', 'QV', 'QW', 'QX',
       'QY', 'QZ', 'RE', 'RO', 'RU', 'RW', 'SA', 'SB', 'SC', 'SD', 'SE',
       'SG', 'SH', 'SI', 'SJ', 'SK', 'SL', 'SM', 'SN', 'SO', 'SR', 'SS',
       'ST', 'SU', 'SV', 'SX', 'SY', 'SZ', 'TC', 'TD', 'TF', 'TG', 'TH',
       'TJ', 'TK', 'TL', 'TM', 'TN', 'TO', 'TP', 'TR', 'TT', 'TV', 'TW',
       'TZ', 'UA', 'UG', 'UM', 'US', 'UY', 'UZ', 'VA', 'VC', 'VD', 'VE',
       'VG', 'VI', 'VN', 'VU', 'WF', 'WORLD', 'WS', 'XA', 'XB', 'XC',
       'XK', 'XL', 'XM', 'XO', 'XP', 'XR', 'XS', 'XZ', 'YD', 'YE', 'YT',
       'YU', 'ZA', 'ZM', 'ZW', 'ZZ'], dtype=object)

In [6]:
# Let's see the largest values
data.nlargest(20, "Value")

TypeError: Column 'Value' has dtype object, cannot use method 'nlargest' with this dtype

In [13]:
# oh no, an error! 
# Let's see what are the data types of these columns
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 159040 entries, 0 to 279
Data columns (total 8 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   PERIOD              159040 non-null  object
 1   REPORTER            159040 non-null  object
 2   PARTNER             158480 non-null  object
 3   PRODUCT             159040 non-null  object
 4   FLOW                159040 non-null  object
 5   INDICATORS          159040 non-null  object
 6   Value               34740 non-null   object
 7   Flag and Footnotes  0 non-null       float64
dtypes: float64(1), object(7)
memory usage: 10.9+ MB

In [9]:
# ok, the Value should be int or float, but it's object. Let's transform it
pd.to_numeric(data["Value"])

ValueError: Unable to parse string "1,854" at position 289

In [11]:
# another errror: Unable to parse string "1,854" at position 289
# the values contain ',' and Pandas are therefore not recognizing them as numbers. Let's remove the commas and try again

pd.to_numeric(data["Value"].str.replace(",",""))

0     nan
1     nan
2     nan
3     nan
4     nan
       ..
275   nan
276   nan
277   nan
278   nan
279   nan
Name: Value, Length: 159040, dtype: float64

In [14]:
# values at the beginning and the end of the data are missing, we can try and get a sample of 20 rows instead
pd.to_numeric(data["Value"].str.replace(",","")).sample(20)

# ok, it seems to be working.

136        0.00
98          nan
277         nan
269   27,011.00
98          nan
92          nan
26          nan
19       130.00
208         nan
162         nan
91       720.00
150         nan
263       99.00
191         nan
160         nan
152         nan
249         nan
193         nan
197         nan
199       70.00
Name: Value, dtype: float64

In [15]:
# let's re-assign the column values like this
data["Value"] = pd.to_numeric(data["Value"].str.replace(",",""))

In [16]:
# now the Value columns is a 'float'. Perfect!
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 159040 entries, 0 to 279
Data columns (total 8 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   PERIOD              159040 non-null  object
 1   REPORTER            159040 non-null  object
 2   PARTNER             158480 non-null  object
 3   PRODUCT             159040 non-null  object
 4   FLOW                159040 non-null  object
 5   INDICATORS          159040 non-null  object
 6   Value               28475 non-null   float64
 7   Flag and Footnotes  0 non-null       float64
dtypes: float64(2), object(6)
memory usage: 10.9+ MB

In [17]:
data.nlargest(20, "Value")

,PERIOD,REPORTER,PARTNER,PRODUCT,FLOW,INDICATORS,Value,Flag and Footnotes
8,May. 2020,"EU27_2020 (AT, BE, BG, CY, CZ, DE, DK, EE, ES,...",EU27_2020_EXTRA,Face masks (excl. paper surgical masks - under...,IMPORT,VALUE_IN_EUROS,"6,124,839,961.00",nan
8,May. 2020,"EU27_2020 (AT, BE, BG, CY, CZ, DE, DK, EE, ES,...",CN,Face masks (excl. paper surgical masks - under...,IMPORT,VALUE_IN_EUROS,"5,731,506,051.00",nan
7,Apr. 2020,"EU27_2020 (AT, BE, BG, CY, CZ, DE, DK, EE, ES,...",EU27_2020_EXTRA,Face masks (excl. paper surgical masks - under...,IMPORT,VALUE_IN_EUROS,"4,402,199,690.00",nan
7,Apr. 2020,"EU27_2020 (AT, BE, BG, CY, CZ, DE, DK, EE, ES,...",CN,Face masks (excl. paper surgical masks - under...,IMPORT,VALUE_IN_EUROS,"4,193,951,633.00",nan
9,Jun. 2020,"EU27_2020 (AT, BE, BG, CY, CZ, DE, DK, EE, ES,...",EU27_2020_EXTRA,Face masks (excl. paper surgical masks - under...,IMPORT,VALUE_IN_EUROS,"3,458,636,246.00",nan
9,Jun. 2020,"EU27_2020 (AT, BE, BG, CY, CZ, DE, DK, EE, ES,...",CN,Face masks (excl. paper surgical masks - under...,IMPORT,VALUE_IN_EUROS,"3,096,549,163.00",nan
58,May. 2020,GERMANY (incl DD from 1991),WORLD,Face masks (excl. paper surgical masks - under...,IMPORT,VALUE_IN_EUROS,"2,213,964,413.00",nan
58,May. 2020,GERMANY (incl DD from 1991),EA19_EXTRA,Face masks (excl. paper surgical masks - under...,IMPORT,VALUE_IN_EUROS,"2,110,721,583.00",nan
58,May. 2020,GERMANY (incl DD from 1991),EUROZONE_EXTRA,Face masks (excl. paper surgical masks - under...,IMPORT,VALUE_IN_EUROS,"2,110,721,583.00",nan
58,May. 2020,GERMANY (incl DD from 1991),EU27_2020_EXTRA,Face masks (excl. paper surgical masks - under...,IMPORT,VALUE_IN_EUROS,"2,076,896,490.00",nan
58,May. 2020,GERMANY (incl DD from 1991),EU_EXTRA,Face masks (excl. paper surgical masks - under...,IMPORT,VALUE_IN_EUROS,"2,076,896,490.00",nan
58,May. 2020,GERMANY (incl DD from 1991),CN,Face masks (excl. paper surgical masks - under...,IMPORT,VALUE_IN_EUROS,"1,967,171,763.00",nan
98,May. 2020,FRANCE,WORLD,Face masks (excl. paper surgical masks - under...,IMPORT,VALUE_IN_EUROS,"1,811,258,300.00",nan
98,May. 2020,FRANCE,EA19_EXTRA,Face masks (excl. paper surgical masks - under...,IMPORT,VALUE_IN_EUROS,"1,670,845,117.00",nan
98,May. 2020,FRANCE,EUROZONE_EXTRA,Face masks (excl. paper surgical masks - under...,IMPORT,VALUE_IN_EUROS,"1,670,845,117.00",nan
98,May. 2020,FRANCE,EU27_2020_EXTRA,Face masks (excl. paper surgical masks - under...,IMPORT,VALUE_IN_EUROS,"1,630,916,638.00",nan
98,May. 2020,FRANCE,EU_EXTRA,Face masks (excl. paper surgical masks - under...,IMPORT,VALUE_IN_EUROS,"1,630,916,638.00",nan
98,May. 2020,FRANCE,CN,Face masks (excl. paper surgical masks - under...,IMPORT,VALUE_IN_EUROS,"1,488,194,381.00",nan
57,Apr. 2020,GERMANY (incl DD from 1991),WORLD,Face masks (excl. paper surgical masks - under...,IMPORT,VALUE_IN_EUROS,"1,477,139,770.00",nan
57,Apr. 2020,GERMANY (incl DD from 1991),EA19_EXTRA,Face masks (excl. paper surgical masks - under...,IMPORT,VALUE_IN_EUROS,"1,392,510,996.00",nan

In [18]:
data.nsmallest(5, "Value")

,PERIOD,REPORTER,PARTNER,PRODUCT,FLOW,INDICATORS,Value,Flag and Footnotes
62,Apr. 2019,ESTONIA,AT,Face masks (excl. paper surgical masks - under...,IMPORT,QUANTITY_IN_100KG,0.00,nan
65,Feb. 2020,ESTONIA,AT,Face masks (excl. paper surgical masks - under...,IMPORT,QUANTITY_IN_100KG,0.00,nan
66,Mar. 2020,ESTONIA,AT,Face masks (excl. paper surgical masks - under...,IMPORT,QUANTITY_IN_100KG,0.00,nan
68,May. 2020,ESTONIA,AT,Face masks (excl. paper surgical masks - under...,IMPORT,QUANTITY_IN_100KG,0.00,nan
75,Feb. 2020,IRELAND,AT,Face masks (excl. paper surgical masks - under...,IMPORT,QUANTITY_IN_100KG,0.00,nan

In [19]:
# Let's see how much masks was bought this year compared to previous year. The date information is in 'PERIOD'
data["PERIOD"]
# But this one too is an 'object'. We need it to be 'datetime'

0      Feb. 2019
1      Mar. 2019
2      Apr. 2019
3      May. 2019
4      Jun. 2019
         ...
275    Feb. 2020
276    Mar. 2020
277    Apr. 2020
278    May. 2020
279    Jun. 2020
Name: PERIOD, Length: 159040, dtype: object

In [32]:
pd.to_datetime(data["PERIOD"])

0     2019-02-01
1     2019-03-01
2     2019-04-01
3     2019-05-01
4     2019-06-01
         ...
275   2020-02-01
276   2020-03-01
277   2020-04-01
278   2020-05-01
279   2020-06-01
Name: PERIOD, Length: 159040, dtype: datetime64[ns]

In [21]:
#  we can extract the year from a 'datetime' column like this
pd.to_datetime(data["PERIOD"]).dt.year

0      2019
1      2019
2      2019
3      2019
4      2019
       ...
275    2020
276    2020
277    2020
278    2020
279    2020
Name: PERIOD, Length: 159040, dtype: int64

In [22]:
# and assign it to a new column we will call "YEAR"
data["YEAR"] = pd.to_datetime(data["PERIOD"]).dt.year

In [35]:
# let's check. Looks good!
data.head()

,PERIOD,REPORTER,PARTNER,PRODUCT,FLOW,INDICATORS,Value,Flag and Footnotes,YEAR
0,Feb. 2019,"EU27_2020 (AT, BE, BG, CY, CZ, DE, DK, EE, ES,...",AD,Face masks (excl. paper surgical masks - under...,IMPORT,QUANTITY_IN_100KG,nan,nan,2019
1,Mar. 2019,"EU27_2020 (AT, BE, BG, CY, CZ, DE, DK, EE, ES,...",AD,Face masks (excl. paper surgical masks - under...,IMPORT,QUANTITY_IN_100KG,nan,nan,2019
2,Apr. 2019,"EU27_2020 (AT, BE, BG, CY, CZ, DE, DK, EE, ES,...",AD,Face masks (excl. paper surgical masks - under...,IMPORT,QUANTITY_IN_100KG,nan,nan,2019
3,May. 2019,"EU27_2020 (AT, BE, BG, CY, CZ, DE, DK, EE, ES,...",AD,Face masks (excl. paper surgical masks - under...,IMPORT,QUANTITY_IN_100KG,nan,nan,2019
4,Jun. 2019,"EU27_2020 (AT, BE, BG, CY, CZ, DE, DK, EE, ES,...",AD,Face masks (excl. paper surgical masks - under...,IMPORT,QUANTITY_IN_100KG,nan,nan,2019

In [37]:
# when we looked at the unique values per column above, we saw that we have multiple 'reporters' and 'partners' for the mask import.
# If we want a general indication of how much was spent on masks, we need to filter the data to prevent counting double
# So we will only keep the WORLD as from the PARTNER column. This is how we filter in pandas:
# give me only the rows from column PARTNER where the value is "WORLD", using '=='
data[data["PARTNER"] == "WORLD"]

,PERIOD,REPORTER,PARTNER,PRODUCT,FLOW,INDICATORS,Value,Flag and Footnotes,YEAR
0,Feb. 2019,"EU27_2020 (AT, BE, BG, CY, CZ, DE, DK, EE, ES,...",WORLD,Face masks (excl. paper surgical masks - under...,IMPORT,QUANTITY_IN_100KG,nan,nan,2019
1,Mar. 2019,"EU27_2020 (AT, BE, BG, CY, CZ, DE, DK, EE, ES,...",WORLD,Face masks (excl. paper surgical masks - under...,IMPORT,QUANTITY_IN_100KG,nan,nan,2019
2,Apr. 2019,"EU27_2020 (AT, BE, BG, CY, CZ, DE, DK, EE, ES,...",WORLD,Face masks (excl. paper surgical masks - under...,IMPORT,QUANTITY_IN_100KG,nan,nan,2019
3,May. 2019,"EU27_2020 (AT, BE, BG, CY, CZ, DE, DK, EE, ES,...",WORLD,Face masks (excl. paper surgical masks - under...,IMPORT,QUANTITY_IN_100KG,nan,nan,2019
4,Jun. 2019,"EU27_2020 (AT, BE, BG, CY, CZ, DE, DK, EE, ES,...",WORLD,Face masks (excl. paper surgical masks - under...,IMPORT,QUANTITY_IN_100KG,nan,nan,2019
...,...,...,...,...,...,...,...,...,...
275,Feb. 2020,GREECE,WORLD,Face masks (excl. paper surgical masks - under...,IMPORT,VALUE_IN_EUROS,"1,723,173.00",nan,2020
276,Mar. 2020,GREECE,WORLD,Face masks (excl. paper surgical masks - under...,IMPORT,VALUE_IN_EUROS,"4,293,433.00",nan,2020
277,Apr. 2020,GREECE,WORLD,Face masks (excl. paper surgical masks - under...,IMPORT,VALUE_IN_EUROS,"24,984,103.00",nan,2020
278,May. 2020,GREECE,WORLD,Face masks (excl. paper surgical masks - under...,IMPORT,VALUE_IN_EUROS,"27,144,096.00",nan,2020
279,Jun. 2020,GREECE,WORLD,Face masks (excl. paper surgical masks - under...,IMPORT,VALUE_IN_EUROS,"17,915,407.00",nan,2020

In [23]:
# all the countries are part of the EU27_2020 value in the "REPORTER" column. We want to exclude this one - because it does not contain any data anyway
# We can exclude parts of the dataset, using '!='

data[data["REPORTER"] != 'EU27_2020 (AT, BE, BG, CY, CZ, DE, DK, EE, ES, FI, FR, GR, HR,HU, IE, IT, LT, LU, LV, MT, NL, PL, PT, RO, SE, SI, SK)']

,PERIOD,REPORTER,PARTNER,PRODUCT,FLOW,INDICATORS,Value,Flag and Footnotes,YEAR
10,Feb. 2019,BELGIUM (and LUXBG -> 1998),AD,Face masks (excl. paper surgical masks - under...,IMPORT,QUANTITY_IN_100KG,nan,nan,2019
11,Mar. 2019,BELGIUM (and LUXBG -> 1998),AD,Face masks (excl. paper surgical masks - under...,IMPORT,QUANTITY_IN_100KG,nan,nan,2019
12,Apr. 2019,BELGIUM (and LUXBG -> 1998),AD,Face masks (excl. paper surgical masks - under...,IMPORT,QUANTITY_IN_100KG,nan,nan,2019
13,May. 2019,BELGIUM (and LUXBG -> 1998),AD,Face masks (excl. paper surgical masks - under...,IMPORT,QUANTITY_IN_100KG,nan,nan,2019
14,Jun. 2019,BELGIUM (and LUXBG -> 1998),AD,Face masks (excl. paper surgical masks - under...,IMPORT,QUANTITY_IN_100KG,nan,nan,2019
...,...,...,...,...,...,...,...,...,...
275,Feb. 2020,GREECE,ZZ,Face masks (excl. paper surgical masks - under...,IMPORT,VALUE_IN_EUROS,nan,nan,2020
276,Mar. 2020,GREECE,ZZ,Face masks (excl. paper surgical masks - under...,IMPORT,VALUE_IN_EUROS,nan,nan,2020
277,Apr. 2020,GREECE,ZZ,Face masks (excl. paper surgical masks - under...,IMPORT,VALUE_IN_EUROS,nan,nan,2020
278,May. 2020,GREECE,ZZ,Face masks (excl. paper surgical masks - under...,IMPORT,VALUE_IN_EUROS,nan,nan,2020
279,Jun. 2020,GREECE,ZZ,Face masks (excl. paper surgical masks - under...,IMPORT,VALUE_IN_EUROS,nan,nan,2020

In [39]:
# last, we only want the values, not quantity of the masks. We therefore filter
data[data["INDICATORS"] == "VALUE_IN_EUROS"]

,PERIOD,REPORTER,PARTNER,PRODUCT,FLOW,INDICATORS,Value,Flag and Footnotes,YEAR
0,Feb. 2019,"EU27_2020 (AT, BE, BG, CY, CZ, DE, DK, EE, ES,...",AD,Face masks (excl. paper surgical masks - under...,IMPORT,VALUE_IN_EUROS,nan,nan,2019
1,Mar. 2019,"EU27_2020 (AT, BE, BG, CY, CZ, DE, DK, EE, ES,...",AD,Face masks (excl. paper surgical masks - under...,IMPORT,VALUE_IN_EUROS,20.00,nan,2019
2,Apr. 2019,"EU27_2020 (AT, BE, BG, CY, CZ, DE, DK, EE, ES,...",AD,Face masks (excl. paper surgical masks - under...,IMPORT,VALUE_IN_EUROS,nan,nan,2019
3,May. 2019,"EU27_2020 (AT, BE, BG, CY, CZ, DE, DK, EE, ES,...",AD,Face masks (excl. paper surgical masks - under...,IMPORT,VALUE_IN_EUROS,nan,nan,2019
4,Jun. 2019,"EU27_2020 (AT, BE, BG, CY, CZ, DE, DK, EE, ES,...",AD,Face masks (excl. paper surgical masks - under...,IMPORT,VALUE_IN_EUROS,31.00,nan,2019
...,...,...,...,...,...,...,...,...,...
275,Feb. 2020,GREECE,ZZ,Face masks (excl. paper surgical masks - under...,IMPORT,VALUE_IN_EUROS,nan,nan,2020
276,Mar. 2020,GREECE,ZZ,Face masks (excl. paper surgical masks - under...,IMPORT,VALUE_IN_EUROS,nan,nan,2020
277,Apr. 2020,GREECE,ZZ,Face masks (excl. paper surgical masks - under...,IMPORT,VALUE_IN_EUROS,nan,nan,2020
278,May. 2020,GREECE,ZZ,Face masks (excl. paper surgical masks - under...,IMPORT,VALUE_IN_EUROS,nan,nan,2020
279,Jun. 2020,GREECE,ZZ,Face masks (excl. paper surgical masks - under...,IMPORT,VALUE_IN_EUROS,nan,nan,2020

In [37]:
# This is how we merge all our filters.
# we will also assign them to a new variable called 'filtered_data'. This name is arbitrary, but chose variable names that you will understand

filtered_data = data[(data["INDICATORS"] == "VALUE_IN_EUROS") &
    (data["REPORTER"] != 'EU27_2020 (AT, BE, BG, CY, CZ, DE, DK, EE, ES, FI, FR, GR, HR,HU, IE, IT, LT, LU, LV, MT, NL, PL, PT, RO, SE, SI, SK)') &
    (data["PARTNER"] == "WORLD")]

In [26]:
# to find out how much money was spent on imported masks, we will use .groupby() and sum up all the values. Only float and integer values will be summed up. This is how it works:
filtered_data.groupby("YEAR").sum()

                 Value  Flag and Footnotes
YEAR
2019  1,277,484,055.00                0.00
2020 16,231,990,777.00                0.00

In [27]:
# this is the average price each country imported masks for
filtered_data.groupby("YEAR").mean()

# TIP: want to learn more about any method? Check the documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html

              Value  Flag and Footnotes
YEAR
2019   9,462,844.85                 nan
2020 120,236,968.72                 nan

In [53]:
# after using .groupby(), your dataset will have the column(s) you group on set as index. This are the row names.
# To have the data accessible as a column again, use .reset_index()

filtered_data.groupby("YEAR").sum().reset_index()

   YEAR             Value  Flag and Footnotes
0  2019  1,277,484,055.00                0.00
1  2020 16,231,990,777.00                0.00

In [31]:
# let's visualize this using the altair library
import altair

In [32]:
# here we need to use .reset_index() because altair can't access the index
per_year = filtered_data.groupby("YEAR").sum().reset_index()

# .Chart(data) : use this dataset
# .mark_bar() : make a bar chart
# .encode() : put details here
altair.Chart(per_year).mark_bar().encode(
    x = "Value",
    y = "YEAR:N" # 'N' tells altair to treat it as a string, not as a date. It's only so we have a prettier visualization!
)

# check out the altair example gallery for more code > https://altair-viz.github.io/gallery/index.html

alt.Chart(...)

In [ ]:
# Want to go deeper?
# Group by multiple columns and explore!

filtered_data.groupby(["REPORTER","YEAR"]).sum()

In [ ]:
# do the same for 'QUANTITY_IN_100KG' instead of 'VALUE_IN_EUROS'
quantities = ....